*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
display: flex;
background-color: cadetblue;
}

.bggradient{
color: aliceblue;
font-size: 16px;
font-weight: 800;
padding: 0.6rem 2rem;
background-color: #1f1f1f;
box-shadow: 1px 2px 2px 1px rgba(0, 0, 0,0.5);
border-radius: 10px;
border: none;
outline: none;
position: relative;
z-index: 0;
}
.bggradient::before{
content: "";
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
left: -2px;
/* bottom: -2px;
right: -2px; */
background-size: 400%;
transition: opacity .3s ease-in-out;
transform: scaleX(0);
z-index: -1;
filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: forwards 20s linear infinite;
    opacity: 0; 
}
.bggradient:hover::before{
    transform: scaleX(1);
    transition: all 1s;
}

.bggradient:active {
    color: #000
}

.bggradient:active:after {
    background: transparent;
}
.bggradient:hover:hover::before{
    opacity: 1;
}


.bggradient:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
