*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
  max-width: 100%;
}
.container{
    background-color: cornsilk;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;    
}

.product_card-box{
    max-width: 400px;
    background-color: #fff;
    border-radius: 1.5rem;
}
.left_mug{
    display: none;
}
.product_text{
    text-align: left;
    margin: 1.5em 2em;
}
.product {
    font-family: "Montserrat", sans-serif;
    font-size: var(--text); 
    color: var(--gray);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 500;
}
.product_title {
    font-size: var(--head);
    font-weight: 700;
    font-family: "Fraunces", serif;
    line-height: 1;
    margin: 0.6em 0 0.7em 0;
}
.green_text {
    margin-right: 0.3em;
    color: var(--darkGreen);
}

.strike {
    text-decoration: line-through;
    align-self: center;
}
.btn {
  /* display: block; */
    margin: 2em 0 1em 0;
    background-color: var(--darkGreen);
    width: 100%;
    padding: 1em 0;
    color: var(--white);
    border: 0;
    border-radius: 0.7em;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    background-color: hsl(156, 24%, 24%);
}

.btn_img {
    margin-right: 1em;
    max-width: 100%;
}
.btn_text {
    color: var(--white);
}

@media (min-width: 650px) {
  .product_card-box {
    display: flex;
    max-width: 700px;
  }

  .left_mug {
    display: block;
    width: 900px;
    height: 100%;
    border-radius: 1.5em 0 0 1.5em;
  }


  .product_title {
    width: 80%;
  }
}
