*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: aqua;
    padding: 0.3rem 2rem;
    font-size: 16px;
    font-weight: 800;
    color: whitesmoke;
    box-shadow: 2px 2px 2px 2px #1f1f1f;
    z-index: 0;
    position: relative;
    
}

.button::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    cursor: pointer;
}
.button:hover::before{
    transition: all 1s;
    transform: scalex(1);
}

