body{
    background-color: aqua;
}
.title{
    text-align: center;
    text-decoration: underline;
}
h4{
    padding-left: 10px;
    font-weight: 800;
    font-size: 20;
    text-decoration: underline;
}
h5{
    text-align: center;
    font-weight: 800;
    font-size: 30;
}
.forename{
    text-align: center;
    font-size: large;
}
.bad{
text-align: right;
}
.pd{
    margin: 10px;
}
label{
    margin-top: 10px;
}
input{
    margin-top: 10px;
}
select{
    margin-top: 10px;
}