*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#head{ grid-area: hd;

} 
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}
#foot{
    grid-area: ft;
} 
.container{
    height: 900px;
    background-color: yellow;
    border: 1px solid red;
    display: grid;
    grid-template-rows: 30px 150px 400px 70px;
    grid-template-columns: 400px;
    grid-template-areas: "hd" "side" "main" "ft";


    /* grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px; */

    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd" 
    "side side side main main main main main" 
    "ft ft ft ft ft ft ft ft";

}
.box{
    background-color: aqua;
    border: 1px solid green;
}
