*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 1px solid;
}

.container{
    height: 700px;
    /* display: grid; */
    border: 1px solid red;
    background-color: yellow;
    
    display: grid;

    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);

    /* gap: 20px; */
}
.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
}

#box1{
    grid-area: 1/1/3/4;
}