*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.but{

    background-color: red;
    color: aliceblue;
    text-align: center;
    padding: 0.8rem 2.3rem;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0 #000;
    position: relative;
    z-index: 1;
}

.but::before{
content:"";
background-color: #1f1f1f;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0; 
transform: scaleX(0);
transition: all 1s;
transform-origin: left;
z-index: -1;
cursor:cell;

}
.but:hover::before{
transform: scaleX(1);
}