*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    perspective: 10px;
}
.header{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}
.background{
    transform: translatez(-40px) scale(5) ;
}
.foreground{
    transform: translateZ(-20px)scale(3);
}
h1{
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    font-size: 10rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 0 0 10px rgb(0,0,0,0.3);
}
section{
    background-color: rgb(45, 30, 43);
    color: beige;
    padding: 5rem 0;
}
.bg1{
    background-image: url(images/sport-1.jpg);
}

.bg2{
    background-image: url(images/sport-2.jpg);
}

.bg3{
    background-image: url(images/sport-3.jpg);
}
.textheading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
    position: relative;
    width: 100%; 
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}